#board {
    background: black;
    width: 1450px;
    height: 800px;
    left: 0px;
    top: 0px;
}


.circle {
    background: rgb(217, 255, 0);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
}